@import url('https://fonts.googleapis.com/css?family=Montserrat');
.titleEfecto {
    text-align: center;
    /*font-family: "Helvetica Rounded";*/
    /*font-family: "Forte Regular";*/
    font-family: "Calibri";
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
    /*background-image: url('https://thumbs.gfycat.com/FalseFavorableAmericancurl-size_restricted.gif');*/
    background-image: url('https://i.gifer.com/UwGd.gif');
    /*background-image: url('https://i.pinimg.com/originals/46/d9/d8/46d9d8be91f572dafcf9592ca624f704.gif');*/
    /*background-image: url('https://i.pinimg.com/originals/cc/68/90/cc6890557d4811c54570ecce05975932.gif');*/
    /*background-image: url('https://media.giphy.com/media/6wpHEQNjkd74Q/200.gif');*/
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
    -webkit-background-clip: text;
    font-size: 80px;
	text-transform: uppercase;   
    line-height: 1.5;
    font-weight: 300;
    position: relative;
    margin-bottom: 0.5em;

}

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

/* styling my button */
.btn1{
    background-image: url('.../images/btnPlay.png');
}

body{
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: #f8faff;
}
.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  margin-top: 15px;
  font-size: 1em;
  padding: 6px;
  -webkit-appearance: none;
  appearance: none;
  background-color:dodgerblue;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(138, 165, 255, 0.952);
  }
  :focus {
    outline: 0;
  }
  
  :before, :after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  :before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, dodgerblue 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, dodgerblue 20%, transparent 30%),
    radial-gradient(circle, dodgerblue 20%, transparent 20%), 
    radial-gradient(circle, dodgerblue 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, dodgerblue 15%, transparent 20%),
    radial-gradient(circle, dodgerblue 20%, transparent 20%),
    radial-gradient(circle, dodgerblue 20%, transparent 20%),
    radial-gradient(circle, dodgerblue 20%, transparent 20%),
    radial-gradient(circle, dodgerblue 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  
  }
  
 :after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, dodgerblue 20%, transparent 20%), 
    radial-gradient(circle, dodgerblue 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, dodgerblue 15%, transparent 20%),
    radial-gradient(circle, dodgerblue 20%, transparent 20%),
    radial-gradient(circle, dodgerblue 20%, transparent 20%),
    radial-gradient(circle, dodgerblue 20%, transparent 20%),
    radial-gradient(circle, dodgerblue 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  
  }
 
  active{
    transform: scale(0.9);
    background-color: darken(dodgerblue, 5%);
    box-shadow: 0 2px 25px rgba(0, 132, 255, 0.2);
  }
  
  .animate{
    :before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
   	:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
